*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.clear{
    clear: both;
}


/* sidebar */
.main{
    display: flex;
    width: 100%;
}

.aside{
  width: 20%;
    background: #f44336;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}

.aside h2{
    color: white;
    text-align: left;
    padding:64px 16px;
    font-size: 28px;
    font-weight: bold;
}

.content1{
     width: 80%;
    padding: 20px;
}

.menu{
    width: 20%;
     background-color: #f44336;
}

.menu button {
    background-color: #f44336;
    padding:  10px 16px;
    font-size: 14px;
    font-weight: 200px;
    border: 0px;
}

.menu button a{
    color: white;
}

.menu button a:hover{
    padding: 8px 80px;
    background-color: white;
    color: black;
}

/* design section */
.content {
    padding-top: 80px;
    margin:0px 20px;
    display: flex;
    flex-direction: column;
}

.content h2{
    font-size: 64px;
}

/* img section */
.img{
    display:flex;
}

.img img{
    height: 500px;
    width: 550px;
    padding: 5px;
    opacity: 0.8;
}

.img1{
    display:flex;
}

.img1 img{
    height: 300px;
    width: 550px;
    padding: 5px;
    opacity: 0.8;
}

.img2{
    display:flex;
}

.img2 img{
    height: 300px;
    width: 550px;
    padding: 5px;
    opacity: 0.8;
}

/* services */
.Service{
    padding: 20px 1px;
    font-size: 30px;
    color: black;

}

.Service p{
    padding: 20px 10px;
}

/* desiners */
.desiners{
    padding: 20px 1px;
    font-size: 30px;
    color: black;
}

.desiners p{
    padding: 20px 10px;
}

.desiners h5{
    font-weight: bold;
    font-size: 18px;
    padding: 20px 10px;
}

/* desires */
.desire{
    display: flex;
    padding: 0px 4px;    
}

.man{
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: rgb(241,241,241);
    border: 2px solid grey;
    box-shadow: 10;
    margin-right: 10px;

}

.man img{
    width: 100%;
    height: 239px;
}

.desire .man h2{
   text-align: left;
    padding: 10px;
}

.desire .man h6{
   text-align: left;
    padding: 0px 10px;
    font-size: 14px;
    color: grey;
}

.desire .man p{
   text-align: left;
    margin: 8px;
    padding: 10px;
}



/* man2 */
.man1{
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: rgb(241,241,241);
    border: 2px solid grey;
    box-shadow: 10;
    margin-right: 10px;

}

.man1 img{
    width: 100%;
    height: 239px;
}

.desire .man1 h2{
   text-align: left;
    padding: 10px;
}

.desire .man1 h6{
   text-align: left;
    padding: 0px 10px;
    font-size: 14px;
    color: grey;
}

.desire .man1 p{
   text-align: left;
    margin: 8px;
    padding: 10px;
}


/* man3 */
.man2{
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: rgb(241,241,241);
    border: 2px solid grey;
    box-shadow: 10;

}

.man2 img{
    width: 100%;
    height: 239px;
}

.desire .man2 h2{
   text-align: left;
    padding: 10px;
}

.desire .man2 h6{
   text-align: left;
    padding: 0px 10px;
    font-size: 14px;
    color: grey;
}

.desire .man2 p{
   text-align: left;
    margin: 8px;
    padding: 10px;
}


/* package section */
.package{
    padding: 10px;
}

.package1 h2{
    padding: 10px 0px;
}

.package1 p{
    padding: 10px 0px;
}

.table{
    display: flex;
    padding: 10px 0px;
}

.table1{
    width: 546px;
    height: 550px;
    border: 2px solid grey;
    text-align: center;
    margin-right: 30px;
}

.table1 ul li{
    background-color: rgb(241, 241, 241);
    padding: 20px 0px;
}

.table1 button{
    background-color: rgb(241, 241, 241);
    padding: 10px;
    margin: 10px;
}

.table2{
    width: 546px;
    height: 550px;
    border: 2px solid gray;
    text-align: center;
    margin-right: 30px;
}

.table2 ul li{
    background-color: rgb(241, 241, 241);
    padding: 20px 0px;
}

.table2 button{
    background-color: rgb(241, 241, 241);
    padding: 10px;
    margin: 10px;
    color: black;
}

/* contact section */
.contact{
    padding:30px 10px;
}

.contact p{
    padding: 10px 0px;
}

.con {
      padding: 20px 0px;
      
}

.con h4{
    font-size: 18px;
    font-weight: 0px;
}
.con p{
     border: 1px solid #ccc;
     padding: 10px;
     padding-bottom: 30px;
    margin-bottom: 20px;

}

.con button{
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: 0px;
    font-size: 16px;
}

.con button:hover{
    background-color: grey;
    color: white;
}

/* footer */
.footer{
    padding: 60px 10px;
    background-color: #f1f1f1;
    text-align: right;
}